Package: me.devbug.switchermodmini
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Version: 0.2
Description: mini improvements for the app switcher
	make exited apps transparent, show active app
Name: SwitcherModMini
Depends: firmware (>= 4.0), mobilesubstrate, preferenceloader (>= 2.0)
Author: deVbug <devbug@devbug.me>
Maintainer: deVbug <devbug@devbug.me>
Website: http://devbug.me/iphone/cydia/switchermodmini/index.html
Depiction: http://devbug.me/iphone/cydia/switchermodmini/index.html
dev: deVbug
Tag: purpose::extension
